@import 'mixins', 'variables';

.imgConteiner {
    width: 100%;
    height: 375px;

    @include respond-to(tablet) {
        height: 416px;
    }

    @include respond-to(desktop) {
        height: 560px;
    }

    @include respond-to(large-desktop) {
        height: 560px;
    }

    img {
        height: 100%;
        width: 100%;

    }
}

.greenBox {

    @include greenBg;
    margin: 32px 0;

    .greenConteiner {
        display: flex;

        div {
            width: 50%;
            height: 54px;
            font-size: 12px;
            font-family: Ubuntu;
            font-weight: 500;
            margin: 25.6px 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to(tablet) {
                height: 70px;
            }

            @include respond-to(desktop) {
                height: 90px;
            }

            @include respond-to(large-desktop) {
                height: 90px;
            }

        }



        .boxBorder {
            border-right: 1px #00412D solid;
        }


        p {
            text-align: center;
            margin: 0 24px;
            width: 60%;
            margin: auto;
        }

        .adaptiveBorder {


            @include respond-to(tablet) {
                border-right: 1px #00412D solid;
            }

            @include respond-to(desktop) {
                border-right: 1px #00412D solid;
            }

            @include respond-to(large-desktop) {
                border-right: 1px #00412D solid;
            }
        }

    }

    hr {
        margin: 0;
        border: none;
        height: 1px;
        background-color: #00412D;

    }

    @include respond-to(tablet) {
        display: flex;

        .boxCutter {
            width: 50%;
        }

        .onlyMobile {
            display: none;
        }
    }

    @include respond-to(desktop) {
        display: flex;

        .boxCutter {
            width: 50%;
        }

        .onlyMobile {
            display: none;
        }
    }

    @include respond-to(large-desktop) {
        display: flex;

        .boxCutter {
            width: 50%;
        }

        .onlyMobile {
            display: none;
        }
    }


}

.aboutMeInfo {
    margin: 32px 16px;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 150%;
    color: #00412D;
    font-weight: 400;

    @include respond-to(tablet) {
        margin: 32px 56px;
    }

    @include respond-to(desktop) {
        margin: 32px 70px;
    }

    @include respond-to(large-desktop) {
        margin: 32px 70px;
    }

    h2 {
        font-family: Ysabeau Infant;
        font-size: 30px;

        @include respond-to(tablet) {
            font-weight: 600;
        }
    }

    .aboutMe {

        p {
            margin: 0;
        }

        @include respond-to(tablet) {

            margin: 52.2px 50px;

            hr {
                display: none;
            }
        }

        @include respond-to(desktop) {

            margin: 64px 70px;

            hr {
                display: none;
            }
        }

        @include respond-to(large-desktop) {

            margin: 64px 250px;

            hr {
                display: none;
            }
        }
    }

    .aboutMe2 {
        @include respond-to(desktop) {
            display: flex;
            justify-content: space-between;

            h2 {
                width: 50%;
            }

            p {
                width: 40%;
            }
        }

        @include respond-to(large-desktop) {
            display: flex;
            justify-content: space-between;

            h2 {
                width: 50%;
            }

            p {
                width: 43%;
            }
        }
    }

    .cvArea {
        @include respond-to(desktop) {
            display: flex;
            justify-content: space-between;

            h2 {
                width: 55%;
            }

        }

        @include respond-to(large-desktop) {
            display: flex;
            justify-content: space-between;

            h2 {
                width: 55%;
            }

        }
    }


}

hr {
    margin: 32px 0;

    @include respond-to(tablet) {
        margin: 55px 0;
    }
}

.projects {

    p {
        font-size: 13px;
        font-weight: 500;
    }

    ul {
        max-width: fit-content;
        list-style: none;
        padding-inline-start: 0;
        margin: 0;
    }

    div {
        margin-bottom: 45px;
    }

    h3 {
        font-family: Ysabeau Infant;
        font-size: 20px;
        margin: 0;

        @include respond-to(tablet) {
            font-size: 24px;
            margin-bottom: 8px;
        }

    }

    h4 {
        margin: 0;
        font-size: 14px;
    }

    .company {
        margin-bottom: 15px;

        &>p {
            margin: 0;
        }
    }

    .content {
        font-size: 15px;

        .contentFix {
            margin-bottom: 0;
            font-weight: bold;

            @include respond-to(tablet) {
                margin-top: 0;
            }
        }
    }

    @include respond-to(tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;

        .company {
            width: 40%;
        }

        .content {
            width: 60%;
        }


    }

    @include respond-to(desktop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
        width: 40%;

        .company {
            width: 30%;
        }

        .content {
            width: 60%;
        }


    }

    @include respond-to(large-desktop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: baseline;
        width: 43%;

        .company {
            width: 30%;
        }

        .content {
            width: 60%;
        }


    }

}

.contact {
    padding: 0 14.2px 32px 14.2px;
    font-family: Ubuntu;
    text-align: center;
    font-size: 14.2px;

    @include respond-to(tablet) {
        width: 60%;
        margin: auto;
    }

    @include respond-to(desktop) {
        width: 90%;
        margin: auto;
    }

    @include respond-to(large-desktop) {
        width: 100%;
        margin: auto;
    }

    .footerButtons {
        margin-top: 32px;

        @include respond-to(desktop) {
            display: flex;
            justify-content: center;
            height: 44.8px;
        }

        @include respond-to(large-desktop) {
            display: flex;
            justify-content: center;
            height: 44.8px;

        }


    }
}

.sliderText {

    @include respond-to(desktop) {
        display: flex;
        justify-content: space-between;

        h2 {
            width: 55%;
        }

        p {
            width: 40%;
        }
    }

    @include respond-to(large-desktop) {
        display: flex;
        justify-content: space-between;

        h2 {
            width: 55%;
        }

        p {
            width: 40%;
        }
    }
}

.aboutMeSlider {

    .photo-slider img {
        animation: scrolling 10s linear infinite;

        @keyframes scrolling {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

    }

}

.aboutMePage {
    .infinite-slider-track {

        @include respond-to(tablet) {
            height: 350px;
            margin: 20px 0;
        }

        @include respond-to(desktop) {
            height: 400px;
            margin: 40px 0;
        }

        @include respond-to(large-desktop) {
            height: 500px;
            margin: 60px 0;
        }
    }


}