@import 'mixins', 'variables';

.footer {
    background-color: #00412D;
    padding: 32px 16px;

    h2 {
        color: #FFFDF6;
    }

    ul {
        position: static;
        background-color: #00412D;
        color: #FFFDF6;
        width: auto;
        padding: 25.6px 12.8px 25.6px 0;

        li {
            list-style: none;
            font-family: Ubuntu;
            font-size: 14.2px;
            margin-bottom: 12px;

        }
    }

    hr {
        border: none;
        height: 1px;
        background-color: #96949166;
        margin-top: 20px;
    }

    #copyRight {
        text-align: center;
        font-family: Ubuntu;
        color: #FFFDF6;
    }
}

.footerButtons {
    font-family: Ubuntu;
    font-size: 11.2px;
    font-weight: 500;
    color: #00412D;
    display: grid;
    grid-template-rows: repeat(2, 52px);
    grid-template-columns: repeat(6, );
    grid-template-areas:
        'm m m wp wp wp'
        't t t li li li';
    gap: 8px;

    img {
        margin-right: 8px;
        margin-left: 14px;
    }

    button {
        background-color: #FFFDF6;
        border: 2px #087A5B solid;
        display: flex;
        align-items: center;
        font-family: Ubuntu;
        color: #00412D;
        font-weight: 500;
    }

}

.adaptiveFooter {
    @include respond-to(tablet) {
        display: flex;
        margin: 0 38.4px;
        justify-content: space-between;
        align-items: start;

        .footerAlt {
            display: inherit;

            ul {
                margin: 0 38.4px;
                padding: 0;
            }

        }

    }
}