@import 'mixins', 'variables';

.navbar {
    background-color: $bgColor;
    padding: 12.8px;

    @include respond-to(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}

nav {

    ul {
        padding: 25.6px 12.8px;
        margin: 0;
        position: absolute;
        left: 0;
        z-index: 1;
        background-color: $bgColor;
        width: 100%;

        @include respond-to(tablet) {
            position: static;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0;

        }

        #cv {
            text-decoration: underline;
            text-underline-offset: 2px;
        }

        li {
            list-style: none;
            margin-bottom: 12.8px;
            font-family: "Ubuntu", sans-serif;
            font-optical-sizing: auto;

            @include respond-to(tablet) {
                margin: 0;
            }

        }
    }

    @include respond-to(tablet) {
        width: 60%;
    }

}



.navPosition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44.8px;

}

.logo {
    font-family: "Fascinate", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 19.2px;
    margin: 0;
}

#menuIcon {
    font-size: 26px;
    height: 26px;

    @include respond-to(tablet) {
        display: none;
    }
}