@import 'mixins', 'variables';

.navbar {
    background-color: $bgColor;
    padding: 12.8px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-items: space-between;

    .mobileHidden {
        display: none;
    }

    @include respond-to(tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12.8px 44.8px;

        .onlyMobile {
            display: none;
        }

        .mobileHidden {
            display: block;
            border: 1px #00412D solid;
            padding: 10px 18px;
        }
    }

    @include respond-to(desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12.8px 44.8px;

        .onlyMobile {
            display: none;
        }

        .mobileHidden {
            display: block;
            border: 1px #00412D solid;
            padding: 10px 18px;
        }
    }

    @include respond-to(large-desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12.8px 44.8px;

        .onlyMobile {
            display: none;
        }

        .mobileHidden {
            display: block;
            border: 1px #00412D solid;
            padding: 10px 18px;
        }
    }


}

nav {

    ul {
        padding: 25.6px 12.8px;
        position: absolute;
        left: 0;
        z-index: 1;
        background-color: $bgColor;
        width: 100%;

        @include respond-to(tablet) {
            position: static;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            font-size: 14px;
        }

        @include respond-to(desktop) {
            position: static;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            font-size: 14px;
        }

        @include respond-to(large-desktop) {
            position: static;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0;
            font-size: 14px;
        }

        #cv {
            text-decoration: underline;
            text-underline-offset: 2px;
        }

        li {
            list-style: none;
            margin-bottom: 12.8px;
            font-family: "Ubuntu", sans-serif;
            font-optical-sizing: auto;

            @include respond-to(tablet) {
                margin: 0;
            }

            @include respond-to(desktop) {
                margin: 0;
            }

            @include respond-to(large-desktop) {
                margin: 0;
            }

        }
    }

    @include respond-to(tablet) {
        width: 65%;
    }

    @include respond-to(desktop) {
        width: 65%;
    }

    @include respond-to(large-desktop) {
        width: 65%;
    }

}



.navPosition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44.8px;
    width: 100%;

    @include respond-to(tablet) {
        width: 30%;
    }

    @include respond-to(desktop) {
        width: 30%;
    }

    @include respond-to(large-desktop) {
        width: 30%;
    }


}

.logo {
    font-family: "Fascinate", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin: 0;
}

#menuIcon {
    font-size: 26px;
    height: 26px;

    @include respond-to(tablet) {
        display: none;
    }

    @include respond-to(desktop) {
        display: none;
    }

    @include respond-to(large-desktop) {
        display: none;
    }
}