body {
    @include reset;
    background-color: $bgColor;
    width: 100%;
    margin: auto;
    color: $textColor;
}

.hoverButton {

    li:nth-child(6):hover,
    button:hover {
        box-shadow: 3px 3px #00412D;
        background-color: #DACBFF;
    }
}

ul {
    a {
        text-underline-offset: 5px;
    }
}

a,
button,
.logo {
    cursor: pointer;
}

.bigScreenWhiteText {

    @include respond-to(desktop) {
        color: #FFFDF6;
    }

    @include respond-to(large-desktop) {
        color: #FFFDF6;
    }

}

hr {
    background-color: #00412D;
    height: 1.3px;
    border: none;
}