@import 'mixins', 'variables';

.greenBg {
    @include greenBg;
    color: #FFFDF6;
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 22px;
        text-align: center;
        font-family: Ysabeau Infant;
        line-height: 120%;

        @include respond-to(tablet) {
            font-size: 25px;
        }

        @include respond-to(desktop) {
            font-size: 30px;
        }

        @include respond-to(large-desktop) {
            font-size: 30px;
        }
    }

    h2 {
        text-align: center;
        font-weight: 400;
        font-family: Ysabeau Infant;
        line-height: 120%;
        font-size: 16px;

        @include respond-to(tablet) {
            width: 90%;
            margin: auto;
        }
    }

    button {
        background-color: #FFFAF0;
        width: 170px;
        height: 48px;
        font-family: Ubuntu;
        font-size: 16px;
        color: #00412D;
        font-weight: 500;
        line-height: 150%;
        margin: 16px 0;
        border: 2px #00412D solid;


    }
}

.mainPhoto {
    height: 350px;

    @include respond-to(tablet) {
        height: 100%;
    }

    @include respond-to(desktop) {
        height: 100%;
    }

    @include respond-to(large-desktop) {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.projectLinks {


    @include respond-to(tablet) {
        margin: 38.4px 44.8px;
    }

    @include respond-to(desktop) {
        margin: 64px 96px;
    }

    @include respond-to(large-desktop) {
        margin: 64px 96px;
    }

    h2 {
        font-family: Ysabeau Infant;
        text-align: center;
        margin: 40px auto;
        width: 80%;
        font-size: 22px;

        @include respond-to(desktop) {
            font-size: 30px;
        }

        @include respond-to(large-desktop) {
            font-size: 30px;
        }


    }

    .projectCard {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border: 2px #00412D solid;
        margin: 0 16px 24px 16px;
        padding: 12px;

        &:hover {
            box-shadow: 6px 6px #DACBFF, 7px 7px black, 5px 7px black, 7px 5px black;
        }

        @include respond-to(tablet) {
            margin: 0;
            width: 43%;
        }

        @include respond-to(desktop) {
            margin: 0;
            width: 44%;
        }

        @include respond-to(large-desktop) {
            margin: 0;
            width: 46%;
        }

        img {

            object-fit: cover;
        }

        .cardInfo {
            font-family: Ubuntu;
            font-weight: 400;
            font-size: 14px;
            margin: 0;
            line-height: 150%;
        }

        .cardClick {
            align-self: flex-end;
            color: #087A5B;
            font-size: 15px;
            font-family: Ubuntu;
            font-weight: 500;
            margin-top: auto;

            p {
                margin-top: 12.5px;
                margin-bottom: 0;
            }
        }

        .cardTitle {
            display: flex;
            align-items: baseline;

            h3 {
                font-family: Ysabeau Infant;
                font-weight: 700;
                font-size: 22px;
                margin-right: 8px;
                margin-bottom: 8px;
            }

            p {
                font-family: Ubuntu;
                font-weight: 500;
                font-size: 12px;
            }

        }

    }
}

.mainDiv {
    @include respond-to(tablet) {
        display: flex;
        height: 375px;
        position: relative;

        .mainPhoto {
            order: 2;
            width: 50%;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .greenBg {
            width: 50%;

            .mainText {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60%;

            }

        }


    }

    @include respond-to(desktop) {
        display: flex;
        height: 440px;
        position: relative;

        .mainPhoto {
            order: 2;
            width: 50%;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .greenBg {
            width: 50%;

            .mainText {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
            }

        }


    }

    @include respond-to(large-desktop) {
        display: flex;
        height: 550px;
        position: relative;

        .mainPhoto {
            order: 2;
            width: 50%;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .greenBg {
            width: 50%;

            .mainText {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
            }

        }

    }

    @media screen and (min-width: 1600px) {
        height: 650px;
    }

}

.projectCards {
    @include respond-to(tablet) {
        margin: 0 22.4px 38.4px 22.4px;
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        justify-content: space-around;
    }

    @include respond-to(desktop) {
        margin: 0 22.4px 38.4px 22.4px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;
    }

    @include respond-to(large-desktop) {
        margin: 0 22.4px 38.4px 22.4px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
    }
}

.mainButton {
    display: flex;
    justify-content: center;
}

.slider-wrap {
    margin: 0 !important;
}