@import 'mixins', 'variables';


.maree {
    font-family: Ubuntu;

    h2,
    strong,
    p,
    span,
    li {
        line-height: 190%;
    }


    strong {
        font-weight: 500;
    }

    #mareeContainer {
        height: auto;
        margin: 32px 0;

        @include respond-to(tablet) {
            padding: 0 15px 10px 15px;
            margin: 40px 0;
        }

        @include respond-to(desktop) {
            padding: 0 15px 10px 15px;
            margin: 40px 0;
        }

        @include respond-to(large-desktop) {
            padding: 0 15px 10px 15px;
            margin: 40px 0;
        }

        #mareePhoto {
            height: 100%;
        }

        &:first-child {
            margin-bottom: 20px;

            @include respond-to(desktop) {
                margin-bottom: 40px;
            }

            @include respond-to(large-desktop) {
                margin-bottom: 40px;
            }
        }
    }

}

.imgMaree {
    height: 360px;

    img {
        height: 100%;
        width: 100%;
    }

    @include respond-to(tablet) {
        height: 635.5px;
    }

    @include respond-to(desktop) {
        height: 700px;
    }

    @include respond-to(large-desktop) {
        height: 750px;
    }
}

.mareeContent {
    margin: 24px 16px 0 16px;

    @include respond-to(tablet) {
        margin: 44.8px;
    }

    @include respond-to(desktop) {
        margin: 96px;
    }

    @include respond-to(large-desktop) {
        margin: 50px 250px;
    }

    h2 {
        margin-top: 32px;
        margin-bottom: 16px;
        font-size: 22px;
        font-weight: 700;
        font-family: Ysabeau Infant;

        @include respond-to(tablet) {
            margin-top: 64px;
        }

        @include respond-to(desktop) {
            margin-top: 80px;
        }

        @include respond-to(large-desktop) {
            margin-top: 80px;
        }
    }

    ul {
        padding: 0;
        list-style: disc;
        list-style-position: outside;
        padding-left: 16px;
    }

}

.aboutText {
    margin: 24px 16px 0 16px;

    h2 {
        margin-top: 16px;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: 500;
        font-family: Ubuntu;
        line-height: 150%;


        @include respond-to(tablet) {
            margin-top: 64px;
            font-size: 22px;
        }

        @include respond-to(desktop) {
            margin-top: 80px;
        }

        @include respond-to(large-desktop) {
            margin-top: 80px;
        }
    }

    @include respond-to(tablet) {
        margin: 44.8px;
    }

    @include respond-to(desktop) {
        width: 30%;
        position: absolute;
        top: 150px;
        left: 32px;
        line-height: normal;
    }

    @include respond-to(large-desktop) {
        width: 30%;
        position: absolute;
        top: 170px;
        left: 32px;
        line-height: normal;
    }

}

.greenBack {
    color: #00412D;
    font-size: 16px;
    font-family: ubuntu;
    @include greenBg;
    border: 2px solid #00412D;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 130px;
    margin: 32px 0;
}

.purpleBgText {
    @include greenBg;
    padding: 12.8px;
    background-color: #DACBFF;
    margin-top: 32px;

    h2 {
        margin: 0;
    }


    p {
        margin: 0;
    }
}

.liArrow {
    font-size: 20px;
    vertical-align: middle;
    font-weight: 500;
    margin-right: .3125rem;
}

.blockPic {
    border: 1px solid #00412D;
    background-color: white;
    margin: 32px 0;
    padding: 0 16px 32px 16px;

    @include respond-to(tablet) {

        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        hr {
            display: none;
        }
    }

    @include respond-to(desktop) {

        display: flex;
        justify-content: space-between;
        padding: 32px;
        margin: 40px 0;

        hr {
            display: none;
        }
    }

    @include respond-to(large-desktop) {

        display: flex;
        justify-content: space-between;
        padding: 32px;
        margin: 40px 0;

        hr {
            display: none;
        }
    }

    img {
        width: 100%;
    }

    strong {
        display: block;
        margin: 28px 0;
    }

    .flexBlock {

        @include respond-to(tablet) {
            width: 48%;
        }

        @include respond-to(desktop) {
            width: 48%;
        }

        @include respond-to(large-desktop) {
            width: 48%;
        }

    }
}

.aboutMaree {
    display: relative;
}

#video {
    height: 100%;
    width: 100%;
}

.imgContainer1 {
    img {
        height: 8px;

        @include respond-to(tablet) {
            height: 17px;
            margin-top: 5px;
        }

        @include respond-to(desktop) {
            height: 20px;
            margin-top: 5px;
        }

        @include respond-to(large-desktop) {
            height: 21px;
            margin: 10px 0 4px 0;
        }

        @media screen and (min-width: 1700px) {
            height: 25.5px;
        }

    }
}

#mareePadFix {
    padding: 0 7px
}