.photo-slider {

    .sliderContainer {
        display: flex;
        overflow: scroll;
        margin: 32px 0;
        scroll-behavior: smooth;

        img {
            margin-right: 24px;
            height: 100%;
        }
    }

    .scroll-btn {

        border: 2px solid black;
        font-size: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: opacity 0.3s;
        width: 3rem;
        @include greenBg;

        &:nth-child(1) {
            margin-right: 2rem;
        }

        &.disabled {
            opacity: 0.3;
            cursor: default;
            pointer-events: none;
        }
    }
}

.sliderButtons {

    display: none;

    @include respond-to(tablet) {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin-bottom: 2rem;
    }

    @include respond-to(desktop) {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin-bottom: 2rem;
    }

    @include respond-to(large-desktop) {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin-bottom: 2rem;
    }

}