.photo-slider {

    .sliderContainer {
        display: flex;
        overflow: scroll;
        margin: 32px 0 10px 0;
        scroll-behavior: smooth;

        img {
            margin-right: 24px;
            height: 100%;
        }
    }

    .scroll-btn {

        position: relative;
        border: 1px solid black;
        font-size: 1rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: opacity 0.3s;
        width: 3rem;
        @include greenBg;
        height: 1.5rem;
        width: 1.5rem;

        @include respond-to(tablet) {
            height: 1.7rem;
            width: 1.7rem;
        }

        @include respond-to(desktop) {
            height: 2rem;
            width: 2rem;
        }

        @include respond-to(large-desktop) {
            height: 2rem;
            width: 2rem;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:nth-child(1) {
            margin-right: .625rem;
        }

        &.disabled {
            opacity: 0.3;
            cursor: default;
            pointer-events: none;
        }
    }
}

.sliderButtons {

    display: none;

    @include respond-to(tablet) {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin-bottom: 2rem;
    }

    @include respond-to(desktop) {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin-bottom: 2rem;
    }

    @include respond-to(large-desktop) {
        display: flex;
        justify-content: end;
        height: 3rem;
        margin-bottom: 2rem;
    }

}